!!! 5
%html{lang: "ru"}
  %head
    %meta{charset: "utf-8"}
    %title JS Practice 2
    %link{rel: "stylesheet", href: "stylesheets/style.css"}
    %script{src: "javascripts/main.js"}
  %body
    .container.js-container
      .stage.visible.js-stage{data: {stage: "input-stage"}}
        .add-array-form#js-add-array-form
          %textarea.aaf-textarea.js-insert-array{placeholder: "Вставьте массив изображений"}
          %button.aaf-button.js-add-array Загрузить
      .stage.js-stage.js-preview{data: {stage: "preview-stage"}}
      .stage.js-stage.js-slider{data: {stage: "slider-stage"}}

%script#slides-template{type: "text/x-handlebars-template"}
  {{#each slides}}
  .add-comment-item.js-add-comment-item
    .aci-left-block
      %img.object-image{src: "{{image}}"}
    .aci-right-block
      %label Комментарий
      %input.aci-add-comment.js-add-comment{data: {id: "{{id}}"}, value: "{{comment}}"}
      %label Ссылка
      %input.aci-add-comment.js-add-link{data: {id: "{{id}}"}, value: "{{link}}"}
      %button.remove-slide.js-remove-slide{data: {id: "{{id}}"}} Удалить
  {{/each}}
  %button.btn-back.js-back-step-one Назад
  %button.btn-save-slides.js-save-slides Сохранить

%script#slider-template{type: "text/x-handlebars-template"}
  .slider
    .slider-wrapper
      .slider-list.js-slider-list
        {{#each slides}}
        {{#if link.length}}
        %a{data: {position: "{{@index}}"}, href: "{{link}}", target: "_blank", class: "slider-item js-slider-item {{#if @first}}active{{/if}}"}
          %img.si-pic{src: "{{image}}"}
          {{#if comment.length}}
          .si-comment {{comment}}
          {{/if}}
        {{else}}
        %div{data: {position: "{{@index}}"}, class: "slider-item js-slider-item {{#if @first}}active{{/if}}"}
          %img.si-pic{src: "{{image}}"}
          {{#if comment.length}}
          .si-comment {{comment}}
          {{/if}}
        {{/if}}
        {{/each}}
    .slider-controls
      .sc-button.sc-button-prev.js-btn-prev{data: {direction: "left"}} ◀
      .sc-button.sc-button-next.js-btn-next{data: {direction: "right"}} ▶
    .slider-navigation
      {{#each slides}}
      %div{class: "sn-bullet js-bullet {{#if @first}}active{{/if}}", data: {position: "{{@index}}"}}
      {{/each}}
  %button.btn-back.js-back-step-two Назад
